<% content :eleven_twelfths, prepend_one_twentyfourth() do %>
  <h2>Welcome</h2>
  <p>My name is Josh Clayton, and I'm a <%= @age %> year old web develper addicted to <%= link_to "Ruby on Rails", "http://www.rubyonrails.org" %>.</p>
  <p>I live in the West Michigan area and work for <%= link_to "Fusionary Media", "http://www.fusionary.com"%>.</p>
<% end %>
<% content :two_thirds, prepend_one_sixth() do %><hr/><% end %>
<% content :eleven_twelfths, prepend_one_twentyfourth() do %>
  <h2>Recent Work I've Done</h2>
  <dl>
    <dt><%= link_to "Blueprint CSS", "http://blueprintcss.googlecode.com" %> | <%= link_to "Walkthrough", "blueprints_compress_a_walkthrough.html" %></dt>
    <dd>Wrote the compression script and accompanying classes that completely revamped Blueprint workflow</dd>
    <dt><%= link_to "acts_as_searchable", "http://github.com/joshuaclayton/acts_as_searchable/" %></dt>
    <dd>Ruby on Rails plugin for easy querying of ActiveRecord models by a string</dd>
    <dt><%= link_to "acts_as_archivable", "http://github.com/joshuaclayton/acts_as_archivable/" %></dt>
    <dd>Ruby on Rails plugin for easy querying of ActiveRecord models by a date</dd>
    <dt><%= link_to "Alpha Heroes", "http://www.alphaheroes.org/" %></dt>
    <dd>Website dedicated to the five Marines Alpha Co. 1/24 lost during their tour to Fallujah, Iraq</dd>
  </dl>
<% end %>
<% content :two_thirds, prepend_one_sixth() do %><hr/><% end %>
<% content :five_twelfths, prepend_one_twentyfourth(), append_one_twentyfourth() do %>
  <h2>Social Networking</h2>
  <ul>
    <li><%= link_to "Twitter", "http://twitter.com/joshuaclayton" %></li>
    <li><%= link_to "Twitter (BlueprintCSS)", "http://twitter.com/blueprintcss" %></li>
    <li><%= link_to "Flickr", "http://www.flickr.com/photos/joshuaclayton" %></li>
    <li><%= link_to "Last FM", "http://www.last.fm/user/joshuaclayton" %></li>
    <li><%= link_to "Tumblr", "http://jdclayton.tumblr.com/" %></li>
  </ul>
<% end %>
<% content :five_twelfths, prepend_one_twentyfourth(), append_one_twentyfourth(), :last do %>
  <h2>Contact</h2>
  <dl>
    <dt>Email</dt>
    <dd>joshua dot clayton at gmail dot com</dd>
    <dt>AIM</dt>
    <dd><%= link_to "xjoshclaytonx", "aim:goim?screenname=xjoshclaytonx" %></dd>
  </dl>
<% end %>