<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html" />
    <title><%= @page_title.join(" &#187; ") -%></title>
    <%= stylesheet_link_tag 'screen', 'my-screen', :media => "screen, projection" %>
    <%= stylesheet_link_tag 'print', :media => "print" %>
    <!--[if IE]>
      <%= stylesheet_link_tag 'ie', :media => "screen, projection" -%>
    <![endif]-->
    <%= yield :head -%>
  </head>
  <body>
    <% container :class => "container", :id => "container" do -%>
      <a href="#content" class="hide">Skip to Content</a>
      <%= render :partial => 'layouts/header' %>
      <hr/>
      <%= render :partial => 'layouts/content_wrapper' %>
      <hr/>
      <%= render :partial => 'layouts/footer' %>
      <a href="#container" class="hide">Return to Top</a>
    <% end %>
    
    <%= yield :footer %>
    
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
    <script type="text/javascript">
      // <![CDATA[
      _uacct = "UA-407994-1";
      urchinTracker();
      // ]]>
    </script>
  </body>
</html>